* {
        
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway,sans-serif;
    }

   body {
     
     background: #344a72;
     padding: 50px;
     line-height: 1.8em;
   }

   a {
     
    text-decoration: none;
   }

   #container {
     max-width: 350px;
     margin: 30px auto;
     padding: 20px 25px;
           }

   .form-wrap {
     background: #fff;
     padding: 20px;
   }

   .form-wrap h1,
   .form-wrap p {
     text-align: center;
   }

        
   .form-wrap .form-group {
     font-size: 0.8em;
     margin-top: 15px;
     }

   .form-wrap .form-group label {
     display: block;
     color: #666;
      }

   .form-wrap .form-group input {
     width: 100%;
     border: #ddd 1px solid;
     border-radius: 5px;
     padding: 10px;
      }

   .form-wrap button {
     width: 100%;
     display: block;
     background-color: #49c1a2;
     color: #fff;
     height: 25px;
     margin: 20px 0;
     cursor: pointer;
     border: none;
     border-radius: 5px;
     font-size: 0.6em;
   }

   .form-wrap button:hover {
     background-color: #37a08e;
   }

   .form-wrap .bottom-text {
     
     font-size: 0.55em;
     text-align: center;
     line-height: 1.6em;
   }

   footer {
     text-align: center;
    font-size: 0.7em;
    color: #fff;
   }

   footer a {
     color: #49c1a2;
   }
